

.form01 {
    width: 360px;
    height: 400px;
    background: linear-gradient(
        to top,
        rgba(19, 19, 17, 0.8) 50%,
        rgba(19, 17, 17, 0.8) 50%
    );
    position: absolute;
    top: 180px;
    left: 500px;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 20px 25px 30px black;
    text-align: center;
}
.form01 h2 {
    width: 280px;
    font-family: sans-serif;
    text-align: center;
    color: #c3eabe;
    font-size: 25px;
    border-radius: 3px;
    margin: 2px;
    padding: 8px;
}
.form01 input {
    width: 300px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #bfa762;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    position: relative;
}
.form01 input:focus {
    outline: none;
}
::placeholder {
    color: white;
    font-family: Arial;
}
.btn01{
    width: 290px;
    height: 40px;
    margin-top: 30px;
    border: none;
    font-size: 18px;
    background:  rgba(255, 255, 255, 0.849);
    border-radius: 3px;
    cursor: pointer;
    color: #bfa762;
    transition: 0.2s ease;
}
.btn01:hover{
    background: rgb(255, 255, 255);
}
