.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundImage{
  background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),
  url('./Images/music-player-g5f18c1c93_1920.jpg');
  width:100%;
  height:100vh;
}
.button{
  border-radius:2rem;
  font-weight:bold;
  padding:1rem;
  background-color: white;
  color:#282c34;
}
.button:hover{
  transform: scalex(1.1);
  background-color: white;
  transition-duration: 0.3s;
  box-shadow: 0 15px 8px rgb(0 0 0 / 20%);
}
.bg-form{
    
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),
   url(./Images/music-player-g5f18c1c93_1920.jpg);
  background-position: center;
  background-size: contain;
  height: 88.2vh;
}
.sonngsbg{   
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),
   url(./Images/hd-wallpaper-g0a615514d_1920.jpg);
  background-position: center;
  background-size: contain;
  height: 88.2vh;

}
.aside{
  width:14%;
  height: 90vh;
  background-color:rgb(21, 21, 21);
}